##Programming 1 - Assignment 1
######Your name(s): Andrew Harper and Andrew Singh

#####The data of over 1000 eBay auctions is provided in the file eBayAcution.csv. Use RStudio to study this marketplace.
#####Source: The data is adapted from this book: https://www.dataminingbook.com/book/r-2nd-edition-2023)


---

####1) Load the file: "eBayAcution.csv" and save it as auctionData.

In [2]:
auctionData = read.csv("/eBayAuctions.csv")



---


####2) Write a code that checks if the dataset has any missing values, a code that returns the number of auctions (i.e., rows), and one to return the number of variables (i.e., columns).

In [3]:
#Checks if the dataset has any missing values - No NAs
anyNA(auctionData)
sum(is.na(auctionData))

#Number of Auctions - 1223 Auctions
nrow(auctionData)
#Number of Variables - 6 variables
ncol(auctionData)

[1] FALSE

[1] 0

[1] 1223

[1] 6



---


####3) What is the maximum auction duration? How many auctions were open for these many days?  What is the average auction duration? What percentage of the auctions have an above average duration?

In [4]:
#Maximum Auction Duration - 10
max(auctionData$Duration)

#How many auctions were open for these days - 220
nrow(auctionData[auctionData$Duration == 10,])

#Average Auction Duration - 6.421096
mean(auctionData$Duration)

#What Percentage of Auctions have an above average duration - 59.04%
(nrow(auctionData[auctionData$Duration > mean(auctionData$Duration),]) / nrow(auctionData))*100

[1] 10

[1] 220

[1] 6.421096

[1] 59.03516



---


####4) Create a new variable called Ratio that calculates the ratio of the closing price over the opening price for each auction and add this variable to the dataset as a new column. What's the average ratio of all auctions? What's the average ratio of 'Computer' auctions?

In [5]:
# Price Ratio -
auctionData$Ratio = (auctionData$ClosePrice / auctionData$OpenPrice)

#Average Price Ration for all auctions - 119.6468
mean(auctionData$Ratio)

#Average Ratio for Computer Auctions - 21.82995
computerAuctions = auctionData[auctionData$Category == "Computer",]
mean(computerAuctions$Ratio)

[1] 119.6468

[1] 21.82995



---


####5) Create an object named "catNames" that contains the names of unique auction categories, sorted in alphabetical order. Write a code to return the number of categories stored in this object.

In [6]:
#Unique Categories -10
catNames <- sort(unique(auctionData$Category))
catNames
length(catNames)

 [1] "Automotive"           "Books"                "Clothing/Accessories"
 [4] "Collectibles"         "Computer"             "Electronics"
 [7] "Home/Garden"          "Jewelry"              "Music/Movie/Game"
[10] "Pottery/Glass"

[1] 10



---


####6) Write a loop to go through "catNames" and calculate the number of auctions in each category. In so doing, save the results in a vector called "numAuctions". Write a code to return the values stored in this object.

In [7]:
numAuctions <- vector()

for(i in catNames){
  subset_data <- auctionData[auctionData$Category == i,]

  # saving value in empty vector in each iteration
  numAuctions[i] <- nrow(subset_data)

}

numAuctions

          Automotive                Books Clothing/Accessories
                 167                   53                  118
        Collectibles             Computer          Electronics
                 222                   33                   54
         Home/Garden              Jewelry     Music/Movie/Game
                 101                   58                  398
       Pottery/Glass
                  19



---


####7) Combine the two objects (catNames and numAuctions) into a new data frame called catInfo. Write two different codes to return the fifth element of the second column in the catInfo dataframe.

In [8]:
catInfo = data.frame(cbind(catNames, numAuctions))
catInfo
# Write two different codes to return the fifth element of the second column in the catInfo dataframe. - 33
catInfo[5,2]
catInfo$numAuctions[5]

                     catNames             numAuctions
Automotive           Automotive           167
Books                Books                53
Clothing/Accessories Clothing/Accessories 118
Collectibles         Collectibles         222
Computer             Computer             33
Electronics          Electronics          54
Home/Garden          Home/Garden          101
Jewelry              Jewelry              58
Music/Movie/Game     Music/Movie/Game     398
Pottery/Glass        Pottery/Glass        19

[1] "33"

[1] "33"



---


####8) Write a piece of code that prints the name of each category and the number of auctions in that category.

In [10]:
catInfo
numAuctions

                     catNames             numAuctions
Automotive           Automotive           167
Books                Books                53
Clothing/Accessories Clothing/Accessories 118
Collectibles         Collectibles         222
Computer             Computer             33
Electronics          Electronics          54
Home/Garden          Home/Garden          101
Jewelry              Jewelry              58
Music/Movie/Game     Music/Movie/Game     398
Pottery/Glass        Pottery/Glass        19

          Automotive                Books Clothing/Accessories
                 167                   53                  118
        Collectibles             Computer          Electronics
                 222                   33                   54
         Home/Garden              Jewelry     Music/Movie/Game
                 101                   58                  398
       Pottery/Glass
                  19



---


####9) Create a function, called weekendTest, that checks whether a given day is a weekend (endDay of 'Sat' or 'Sun') or not and returns TRUE or FALSE (logical constants in R). Then use this function to create a new variable (called Weekend) that shows if each auction had an endDay of the weekend or not. Add this variable to the dataset as a new column. How many auction ended on weekend? (Write a code that returns this value)

In [11]:
weekendTest <- function(day) {
  return(day %in% c('Sat', 'Sun'))
}

# Apply the function to create a new column 'Weekend'
auctionData$Weekend <- sapply(auctionData$endDay, weekendTest)
auctionData

# Count the number of auctions that ended on a weekend
numWeekendAuctions <- sum(auctionData$Weekend)
numWeekendAuctions

     Category         sellerRating Duration OpenPrice  ClosePrice endDay
1    Collectibles      1            5         0.010000 112.52     Tue
2    Collectibles      1            5         0.010000  61.05     Tue
3    Collectibles      1            5         0.010000  52.02     Tue
4    Collectibles      1            5         0.010000  46.02     Tue
5    Collectibles      1            5         0.010000  26.00     Tue
6    Collectibles      1            5         0.010000  20.70     Tue
7    Automotive        1            5         9.990000 197.50     Sat
8    Computer          1            5         1.229825  35.05     Mon
9    Collectibles      1            5         0.010000 188.33     Fri
10   Collectibles      1            5         0.010000  43.00     Fri
11   Collectibles      1            5         0.010000  23.65     Fri
12   Collectibles      1            5         0.010000  22.00     Fri
13   Electronics       4           10         1.229697  81.16     Sat
14   Electronics       4            5         0.010000  62.00     Sat
15   Books             5           10         6.150000   6.15     Wed
16   Collectibles      5            5        19.990000  77.00     Sun
17   Electronics       7            3        67.634807 222.58     Sat
18   Music/Movie/Game  7            3        36.890000  36.89     Sat
19   Electronics       8            5        69.990000  69.99     Tue
20   Books             8            5        15.000000  47.78     Sun
21   Automotive        8            7        25.000000  91.00     Sat
22   Electronics       9            5         1.230000   1.23     Sun
23   Automotive       10            5        50.000000 170.50     Tue
24   Electronics      10           10         1.229752 197.99     Sat
25   Automotive       10            5         1.000000  70.00     Mon
26   Electronics      13           10       122.975490 250.87     Wed
27   Electronics      13            7       122.973928 278.29     Sun
28   Books            15           10         1.231076   3.09     Sun
29   Music/Movie/Game 17            7         1.766933  23.22     Thu
30   Music/Movie/Game 17            7         1.766914  18.74     Thu
⋮    ⋮                ⋮            ⋮        ⋮          ⋮          ⋮
1194 Music/Movie/Game  9003        7         3.99       5.51      Fri
1195 Electronics       9747        5        25.00      25.00      Tue
1196 Automotive       10067        3        57.00      57.00      Sat
1197 Automotive       10067        3        39.50      39.50      Sat
1198 Automotive       10067        3        21.00      21.00      Sat
1199 Automotive       10067        3        21.00      21.00      Sat
1200 Automotive       10067        3        19.50      19.50      Sat
1201 Automotive       10067        3        18.00      18.50      Sat
1202 Automotive       10067        3        18.00      18.00      Sat
1203 Automotive       10067        3        15.00      15.00      Sat
1204 Automotive       10067        3        12.99      12.99      Sat
1205 Automotive       10067        3        12.50      12.50      Sat
1206 Automotive       10067        3         8.50       8.50      Sat
1207 Automotive       10067        3         6.00       6.00      Sat
1208 Automotive       10067        3        49.99      49.99      Fri
1209 Automotive       10067        3        43.50      43.50      Fri
1210 Automotive       10067        3        43.50      43.50      Fri
1211 Automotive       10067        3        37.95      37.95      Fri
1212 Automotive       10067        3        24.95      24.95      Fri
1213 Automotive       10067        3        23.00      23.50      Fri
1214 Automotive       10067        3        21.00      21.00      Fri
1215 Automotive       10067        3        21.00      21.00      Fri
1216 Automotive       10067        3        21.00      21.00      Fri
1217 Automotive       10067        3        21.00      21.00      Fri
1218 Automotive       10067        3        19.00      19.50      Fri
1219 Automotive       10067        3        18.99      18.99      Fri
1220 Automotive       10067        3        16.50      16.50      Fri
1221 Automotive       10067        3        12.00      12.00      Fri
1222 Automotive       10067        3        12.00      12.00      Fri
1223 Automotive       10067        3         8.50       8.50      Fri
     Ratio        Weekend
1    11252.000000 FALSE
2     6105.000000 FALSE
3     5202.000000 FALSE
4     4602.000000 FALSE
5     2600.000000 FALSE
6     2070.000000 FALSE
7       19.769770  TRUE
8       28.500000 FALSE
9    18833.000000 FALSE
10    4300.000000 FALSE
11    2365.000000 FALSE
12    2200.000000 FALSE
13      66.000000  TRUE
14    6200.000000  TRUE
15       1.000000 FALSE
16       3.851926  TRUE
17       3.290909  TRUE
18       1.000000  TRUE
19       1.000000 FALSE
20       3.185333  TRUE
21       3.640000  TRUE
22       1.000000  TRUE
23       3.410000 FALSE
24     161.000000  TRUE
25      70.000000 FALSE
26       2.040000 FALSE
27       2.263000  TRUE
28       2.510000  TRUE
29      13.141414 FALSE
30      10.606061 FALSE
⋮    ⋮            ⋮
1194 1.380952     FALSE
1195 1.000000     FALSE
1196 1.000000      TRUE
1197 1.000000      TRUE
1198 1.000000      TRUE
1199 1.000000      TRUE
1200 1.000000      TRUE
1201 1.027778      TRUE
1202 1.000000      TRUE
1203 1.000000      TRUE
1204 1.000000      TRUE
1205 1.000000      TRUE
1206 1.000000      TRUE
1207 1.000000      TRUE
1208 1.000000     FALSE
1209 1.000000     FALSE
1210 1.000000     FALSE
1211 1.000000     FALSE
1212 1.000000     FALSE
1213 1.021739     FALSE
1214 1.000000     FALSE
1215 1.000000     FALSE
1216 1.000000     FALSE
1217 1.000000     FALSE
1218 1.026316     FALSE
1219 1.000000     FALSE
1220 1.000000     FALSE
1221 1.000000     FALSE
1222 1.000000     FALSE
1223 1.000000     FALSE

[1] 400